.checklist .checked {
    background-image: url("https://cdn-icons-png.flaticon.com/512/2440/2440972.png");
    background-repeat: no-repeat;
    list-style-type: none;
    background-size: 18px;
    background-position: left;
    padding-left: 25px;
}

.checklist li {
    background-image: url("https://icons.veryicon.com/png/o/miscellaneous/mime-icon/checkbox-2.png");
    background-repeat: no-repeat;
    list-style-type: none;
    background-size: 18px;
    background-position: left;
    padding-left: 25px;
}
